[Desktop Entry]
Version=1.0
Name=moegi-player
GenericName=Audio Player
Comment=Audio Player
MimeType=
Exec=com.github.aharotias2.moegi-player
Icon=com.github.aharotias2.moegi-player
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player
Keywords=Music;Audio;Player;Media
