[Desktop Entry]
Version=1.0
Name=Musectory
GenericName=Audio Player
Comment=Audio Player
MimeType=
Exec=com.github.aharotias2.musectory
Icon=com.github.aharotias2.musectory
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player
Keywords=Music;Audio;Player;Media
