[Desktop Entry]
Version=1.0
Name=moegi-player
GenericName=Audio Player
Comment=Audio Player
MimeType=
TryExec=moegi-player
Exec=moegi-player
Icon=moegi-player.png
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player
Keywords=Music;Audio;Player;Media
