[Desktop Entry]
Version=1.0
Name=mpd
GenericName=Audio Player
Comment=Audio Player mimic MFPlayer of Windows
MimeType=
TryExec=mpd
Exec=mpd
Icon=mpd.png
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player
StartupWMClass=mpd
Keywords=Music;Audio;Player;Media
