[Desktop Entry]
Version=1.0
Name=tatam
GenericName=Audio Player
Comment=Audio Player mimic MFPlayer of Windows
MimeType=
TryExec=tatam
Exec=tatam
Icon=tatam.png
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player
StartupWMClass=tatam
Keywords=Music;Audio;Player;Media
